In [1]:

import pandas as pd 
import numpy as np

In [2]:
def logCPM(a):
    id1=a.iloc[:,0]
    b=a.select_dtypes(include=['int64'])
    a=a._get_numeric_data()
    a=a.values
    try:
        cpm=[]
        for i in range(0,len(a)):
                colsum=a[:,i].sum()

                c1=(a[:,i]/colsum)*10**6
                cpm.append(c1)
    
    except:
        print("ignore error")
    cpm=np.array(cpm)

    lgv=np.log2(cpm+1) 
    logcpm=pd.DataFrame(lgv).T
    logcpm.columns=b.columns
    logcpm['Geneid']=id1
    lk=logcpm.set_index('Geneid')
    return lk

In [3]:
data=pd.read_csv('GSE184807_Raw_count_data.txt.gz',sep="\t")
data

                Geneid     D1     D2     D3     A1     A2     A3
0     CAALFM_C100020CA   4668   4869   4517   5309   6322   5925
1     CAALFM_C100030CA    754    700    736    708    800    699
2                 CTA2   4101   3582   3576   4142   4561   3999
3                 TUP1  17645  16657  16639  14545  16882  16377
4                  MVD   5318   4791   4766   3756   4112   4422
...                ...    ...    ...    ...    ...    ...    ...
6240  CAALFM_CR10820WA   1517   1332   1175   1004   1074   1187
6241  CAALFM_CR10830CA   1358   1227   1246   1162   1254   1422
6242              XYL2  43405  45007  43373  31571  34360  34137
6243             ATP16  15352  14589  13298  13013  15196  15546
6244             CTA26   7009   6496   6279   8260   8806   7855

[6245 rows x 7 columns]

In [4]:
#calling function logCPM
logCPM(data)

ignore error

,D1,D2,D3,A1,A2,A3
Geneid,,,,,,
CAALFM_C100020CA,7.490000,7.649799,7.560979,8.087244,8.147491,8.029189
CAALFM_C100030CA,4.900901,4.893763,4.982115,5.214693,5.199880,4.986448
CTA2,7.304280,7.209517,7.225969,7.730625,7.678423,7.464670
TUP1,9.402469,9.419137,9.436534,9.537882,9.561338,9.492444
MVD,7.677098,7.626617,7.637993,7.590192,7.529682,7.608949
...,...,...,...,...,...,...
CAALFM_CR10820WA,5.884990,5.798718,5.639843,5.707132,5.614753,5.731571
CAALFM_CR10830CA,5.728108,5.682476,5.722836,5.914223,5.834064,5.987678
XYL2,10.699805,10.851830,10.817478,10.654912,10.585610,10.551067
ATP16,9.201954,9.228188,9.113697,9.377541,9.409755,9.417423
CTA26,8.073721,8.063924,8.034003,8.723049,8.624161,8.434627